RESEND_API_KEY=re_substitua_pela_chave_real
RESEND_CHECKLIST_SEGMENT_ID=substitua_pelo_uuid_do_segmento_checklist
RESEND_MARKETING_SEGMENT_ID=substitua_pelo_uuid_do_segmento_marketing
RESEND_ORCAMENTOS_SEGMENT_ID=substitua_pelo_uuid_do_segmento_orcamentos

LJI_CONTACT_EMAIL=contato@ljistudio.com.br
LJI_SENDER_EMAIL=contato@ljistudio.com.br
LJI_SENDER_NAME=LJI Studio
LJI_CHECKLIST_URL=https://www.ljistudio.com.br/assets/downloads/checklist-21-pontos-lji-studio.pdf

TURNSTILE_SITE_KEY=substitua-pela-site-key
TURNSTILE_SECRET_KEY=substitua-pela-secret-key
TURNSTILE_ALLOWED_HOSTNAMES=ljistudio.com.br,www.ljistudio.com.br,seu-projeto.vercel.app,localhost
